<body class="jv-background">
    <p>
        rum
    </p>
    <div class="row text-center menu">
      <a href="/stylists" class="btn btn-primary btn-lg" role="button">Stylist Manager</a>
      <a href="/clients" class="btn btn-default btn-lg" role="button">Client Manager</a>
    </div>
</body>
